{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>home controller</h1>

    <a href="{{ path("app_login") }}">Login</a>
    <a href="{{ path("app_logout") }}">exit</a>
{% endblock %}
