{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>home controller</h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
         <a href="{{ path("app_logout") }}">exit</a>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path("admin_home") }}">admin</a>
        {% endif %}


    {% else %}
        <a class="btn btn-primary" href="{{ path("app_login") }}">Login</a>
        <a class="btn btn-secondary"  href="{{ path("app_register") }}">Register</a>
    {% endif %}
{% endblock %}
