{% extends 'base.html.twig' %}

{% block title %}Show page!{% endblock %}

{% block body %}

    <h1 class="my-4">{{ post.title }}
        {#        <small>All Posts</small>#}
    </h1>





{% endblock %}
